<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Group View</title>
</head>
<body>
<div id="header">
    <a class="btn" href="../../admin_home">Home</a>
    <a class="btn" href="/logout" style="float: right">Log out</a>
</div>
<h2 th:text="${group.name}"></h2>
<div>
    <button onclick="rename(this)">Rename Group</button>
    <button onclick="delete_confirm()">Delete Group</button>
</div>
<div>
    <div th:each="student: ${group.students}">
        <a th:href="@{../../members/student/{id}(id=${student.student_id})}" th:text="${student.fullname}"></a>
        <a th:href="@{./remove_student/{id}(id=${student.student_id})}">X</a>
    </div>
</div>
<p>Add students to this group:</p>
<form method="post" autocomplete="off">
    <div class="autocomplete" style="width:300px;" id="stud">
        <input id="studentInput" type="text" name="student_search" placeholder="Search students">
    </div>
    <button id="save_btn" type="f">Add</button>
</form>
<script th:inline="javascript">

    function rename(e) {
        e.hidden = true;
        var f = document.createElement("FORM");
        f.setAttribute("method", "post");
        f.setAttribute("action", "./rename");
        var inp = document.createElement("INPUT");
        inp.setAttribute("type", "text");
        inp.setAttribute("required", "true");
        inp.setAttribute("name", "newname");
        inp.setAttribute("placeholder", "Enter New Name");
        inp.setAttribute("id", "rename");
        var label = document.createElement("LABEL");
        label.setAttribute("for", "rename");
        label.innerText = "New Name: ";
        var btn = document.createElement("BUTTON");
        btn.setAttribute("type", "f");
        btn.innerText = "Rename";
        f.append(label);
        f.append(inp);
        f.append(btn);
        e.parentNode.append(f);
    }

    function delete_confirm() {
        if (confirm('Are you sure you want to delete this group?')) {
            window.location.href = './delete';
        }
    }

    function autocomplete(inp, arr_names, arr_val) {
        var currentFocus;
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);
            for (i = 0; i < arr_names.length; i++) {
                if (arr_names[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + arr_names[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr_names[i].substr(val.length);
                    b.innerHTML += "<input type='hidden' name='students' value='" + arr_val[i] + "'>";
                    b.addEventListener("click", function(e) {
                        this.innerHTML = this.innerHTML.replace("<strong>", "");
                        this.innerHTML = this.innerHTML.replace("</strong>", "");
                        var list = document.getElementById("stud")
                        list.insertBefore(this, list.firstChild);
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });

        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
            } else if (e.keyCode == 38) {
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }


    var studentnames = [[${studentnames}]];
    var studentvalues = [[${studentvalues}]];
    autocomplete(document.getElementById("studentInput"), studentnames, studentvalues);
</script>
</body>
</html>