<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
<form method="post">
    <label for="username"><b>Username or e-mail</b></label>
<input type="text" placeholder="Enter username or e-mail" name="username" id="username" required/>
    <label for="psw"><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="password" id="psw" required/>
    <button id="login_btn" type="f">Log in</button>
</form>
<p>Don't have an account? <a href="/register">Register</a>.</p>

</body>
</html>