<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manage Teachers</title>
</head>
<body>
<div id="header">
    <a class="btn" href="../admin_home">Home</a>
    <a class="btn" href="/logout" style="float: right">Log out</a>
</div>
<div class = teachers_container>
    <input id="teacherInput" type="text" name="teacher_search" placeholder="Search teachers">
    <div class = teachers th:each="teacher: ${teachers}">
    <p th:text="${teacher.fullname}" th:id="${teacher.teacher_id}"/>
        <button onclick="delete_confirm(this)">Delete Teacher</button>
    </div>
    <script th:inline="javascript">
        function delete_confirm(e) {
            if (confirm('Are you sure you want to delete this teacher account?')) {
                var tid = e.parentNode.firstElementChild.getAttribute("id");
                var url = "./teacher/" + tid + "/delete";
                window.location.href = url;
            }
        }

        function filter(inp) {
            inp.addEventListener("input", function (e) {
                var val = this.value;
                var list = document.getElementsByClassName("teachers");
                if (!val) {
                    for (var i=0; i<list.length; i++) {
                        list.item(i).firstElementChild.removeAttribute("hidden");
                    }
                }
                for (var i=0; i<list.length; i++) {
                    if (list.item(i).firstElementChild.innerHTML.substr(0, val.length).toUpperCase() != val.toUpperCase()) {
                        list.item(i).setAttribute("hidden", "true");
                    } else {
                        list.item(i).removeAttribute("hidden");
                    }
                }
            })
        }

        filter(document.getElementById("teacherInput"));
    </script>
</div>
<div>
    <a href="./teacher_invite"> Invite a new teacher </a></div>
</div>
</body>
</html>
