<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rotation Day Names</title>
</head>
<body>
<div th:each="calendar: ${calendars}">
    <div th:each="month: ${calendar.keySet()}">
        <p><b th:text="${month}"></b></p>
        <table>
            <tr th:each="row: ${calendar.get(month)}">
                <td th:each="data: ${row}">
                    <div style="white-space: pre-line" th:text="${data}"></div>
                </td>
            </tr>
        </table>
    </div>
</div>
<form method="post">
    <div th:each="day: ${rotation}">
        <label th:text="${day.name}"></label>
        <input type="text" placeholder="New name" name="dayname" th:id="${day.id}" th:content="${day.name}" />
    </div>
    <button id="submit_btn" type="f">Save</button>
</form>
</body>
</html>