<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invite a teacher</title>
</head>
<body>
<div id="header">
    <a class="btn" href="../admin_home">Home</a>
    <a class="btn" href="/logout" style="float: right">Log out</a>
</div>
<form method="post">
    <label for="name1"><b>First Name</b></label>
    <input type="text" placeholder="Enter First name" name="name1" id="name1" required/>
    <label for="name2"><b>Last Name</b></label>
    <input type="text" placeholder="Enter Last name" name="name2" id="name2" required/>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required/>
    <p>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="psw" required/>
        <input type="password" placeholder="Confirm Password" name="password2" id="psw2" required/>
        <button id="reg_btn" type="f">Invite</button>
</form>
</body>
</html>